body {
    margin:0;
    padding:0;
    height:100%;
    font-size: 14px;
    font-family: "Open Sans",Arial,sans-serif;
    color: #6E6E6E;
    #wrapper {
        min-height:100%;
        position:relative;
        #header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            padding: 0;
            z-index: 10000;
            -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
            -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
            transition: all 0.2s ease-in-out;
            height: 70px;
            background-color:#000000; 
            .nav-header {
                .container {
                    .navbar-header {
                        float: left;
                        width: 25%;
                        height: 100%;
                        a.navbar-brand {
                            width: 100%;
                            height: 100%;
                            #logo {
                                min-width: 90px;
                                height: 50px;
                                margin: 0 auto;
                            }
                        }
                    }
                    .collapse.navbar-collapse {
                        width: 75%;
                        float: right;
                        padding-top: 10px;
                    }
                }
            }
        }
        #content {
            background-color: #41A9DA;
            min-height: 100% !important;
            height: auto;
            magin: 0 auto;
            #top-page {
                width: 100%;
                padding: 284px 0 250px;
                position: relative;
                background-color: #002E5B;
                text-align: center;
                 #page-container { 
                    #top-page-small-title{
                        font-size: 20px;
                        height: 35px;
                        display: inline-block;
                        text-align: center;
                    }
                    #big-title {
                        
                    }
                    #top-page-content {
                        padding-top: 20px;
                    }
                    #slogan {
                        padding-top: 45px;
                    }
                 }
            }
            #products-page {
                padding: 100px 0 115px;
                position: relative;
                background-color: #000000;
                #page-container {
                    .products-page-introduce {
                        padding-right: 30px;
                        padding-top: 40px;
                        #products-page-content {
                            @extend #item-content;
                        }
                    }
                    #products-page-small-title {
                        @extend #small-title;
                        border: 2px solid #fff;
                        
                    }
                    .products-page-icon {
                        float: left;
                        width: 40px;
                        height: 40px;
                    }
                    p.products-page-icon-title {
                        padding-top: 5px;
                        font-weight: bold;
                        font-size: 14px;
                    }
                    .products-page-item-header {
                        padding-bottom: 15px;
                        padding-top: 40px;
                    }
                    
                }
            }
            #news-page {
                padding: 100px 0 115px;
                position: relative;
                background-color: transparent;
                #page-container {
                    .news-page-header {
                        text-align: center;
                        #news-page-small-title {
                            @extend #small-title;
                            border: 2px solid #000000;
                        }
                    }
                    #news-page-big-title {
                        @extend #big-title;
                        padding-bottom: 50px;
                    }
                    .news-page-item {
                        background-color: #fff;
                        padding: 0 30px;
                        border: 1px solid #000000;
                        margin-left: 10px;
                        margin-right: 10px;
                        margin-bottom:10px;
                        .news-page-item-title {
                            font-size: 14px;
                            font-weight: 700;
                            text-align: center;
                            padding-top: 25px;
                            padding-bottom: 10px;
                            border-bottom: 1px solid #002E5B;
                        }
                        .news-page-item-image {
                            width: 100%;
                            height: auto;
                            padding-top: 10px;
                        }
                        .news-page-item-content {
                            @extend #item-content;
                        }
                    }
                    #big-title {
                        padding-top: 30px;
                        padding-bottom: 60px;
                        text-align: center;
                    }
                }
            }
            #about-us {
                padding: 100px 0 115px;
                position: relative;
                background-color: #000000;
                text-align: center;
                #page-container {
                    .about-us-header {
                        #about-us-small-title {
                            @extend #small-title;
                            border: 2px solid #fff;
                        }
                    }
                    .about-us-content {
                        #about-us-big-title {
                            @extend #big-title;
                            padding-top: 30px;
                            padding-bottom: 50px;
                        }
                    }
                }
            }
            #recruit {
                padding: 100px 0 115px;
                position: relative;
                background-color: #fff;
                text-align: center;
                #page-container {
                    .recruit-header {
                        #recruit-small-title {
                            @extend #small-title;
                            border: 2px solid #000000;
                        }
                    }
                    .recruit-content {
                        padding-top: 30px;
                    }
                    .btn-secondary {
                        color: #fff;
                        background-color: #E94820;
                        width: 250px;
                        height: 50px;
                        margin-top: 50px;
                        font-size: 14px;
                        height: 35px;
                        padding: 0 40px;
                        font-weight: 700;
                        line-height: 28px;
                        
                    }
                }
            }
            #workplace {
                padding: 100px 0 115px;
                position: relative;
                background-color: #000000;
                text-align: center;
                #page-container {
                    .workplace-header {
                        #workplace-small-title {
                            @extend #small-title;
                            border: 2px solid #fff;
                        }
                    }
                    .workplace-content {

                        .acc{
                            width: 100%;
                            overflow:hidden;
                            margin: 30px auto;
                            box-shadow: 0 8px 6px -6px black;
                        }
                        .acc li{
                            float: left;
                            display:block;
                            width:20%;
                            float: left;
                            box-shadow: 0 0 20px 10px rgba(0,0,0,0.6);
                            transition: all 0.75s;
                        }
                        .acc ul:hover li{
                            width: 10%;
                        }
                        .acc ul li:hover{
                            width:50%;
                        }
                        img.workplace-image {
                            width:590px;
                        }
                    }
                }
                
            }
            #customer {
                padding: 100px 0 115px;
                position: relative;
                background-color: #fff;
                text-align: center;
                #page-container {
                    .customer-header {
                        #customer-small-title {
                            @extend #small-title;
                            border: 2px solid #000000;
                        }
                    }
                    .customer-content {
                        width: 100%;
                        .Marquee {
                            /*background: linear-gradient(-135deg, #008ed9, #8b00db);*/
                            width: 100%;
                            box-sizing: border-box;
                            padding: 1em;
                            color: #fff;
                            font-weight: 200;
                            display: flex;
                            align-items: center;
                            overflow: hidden;
                        }

                        .Marquee-content {
                            display: flex;
                            animation: marquee 50s linear infinite running;
                        }

                        .Marquee-content:hover {
                            animation-play-state: paused;
                        }

                        .Marquee-tag {
                            width: 400px;
                            margin: 0 0.5em;
                            padding: 0.5em;
                            background: rgba(255,255,255,0.1);
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            transition: all 0.2s ease;
                        }

                        .Marquee-tag:hover {
                            background: rgba(255,255,255,0.5);
                            transform: scale(1.1);
                            cursor: pointer;
                        }
                        img.customer-image {
                            width: 100%;
                            height: auto;
                        }
                        @-moz-keyframes marquee {
                            0% {
                                transform: translateX(0);
                            }

                            100% {
                                transform: translate(-50%);
                            }
                        }

                        @-webkit-keyframes marquee {
                            0% {
                                transform: translateX(0);
                            }

                            100% {
                                transform: translate(-50%);
                            }
                        }

                        @-o-keyframes marquee {
                            0% {
                                transform: translateX(0);
                            }

                            100% {
                                transform: translate(-50%);
                            }
                        }

                        @keyframes marquee {
                            0% {
                                transform: translateX(0);
                            }

                            100% {
                                transform: translate(-50%);
                            }
                        }
                    }
                }
                
            }
            #home-items {
                position: relative;
                padding-top: 100px;
                height: 2600px;
                #page-container {
                    label {
                      display:block;
                      font-size: 1.25em;
                      color:#333;
                    }

                    /* Container used for styling the custom select, the buttom class adds the bg gradient, corners, etc. */
                    .dropdown {
                      position: relative;
                      display:block;
                      padding:0;
                    }

                    /* This is the native select, we're making everything the text invisible so we can see the button styles in the wrapper */
                    .dropdown select {
                      width:100%;
                      margin:0;
                      background:none;
                      border: 1px solid transparent;
                      outline: none;
                      /* Prefixed box-sizing rules necessary for older browsers */
                      -webkit-box-sizing: border-box;
                      -moz-box-sizing: border-box;
                      box-sizing: border-box;
                      /* Remove select styling */
                      appearance: none;
                      -webkit-appearance: none;
                      /* Magic font size number to prevent iOS text zoom */
                      font-size:1.25em;
                      /* General select styles: change as needed */
                      /* font-weight: bold; */
                      color: #444;
                      padding: .6em 1.9em .5em .8em;
                      line-height:1.3;
                    }
                    .dropdown select,
                    label {
                      font-family: AvenirNextCondensed-DemiBold, Corbel, "Lucida Grande","Trebuchet Ms", sans-serif;
                    }

                    /* Custom arrow sits on top of the select - could be an image, SVG, icon font, etc. or the arrow could just baked into the bg image on the select */

                    .dropdown::after {
                      content: "";
                      position: absolute;
                      width: 9px;
                      height: 8px;
                      top: 50%;
                      right: 1em;
                      margin-top:-4px;
                      z-index: 2;
                      background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 12'%3E%3Cpolygon fill='rgb(102,102,102)' points='8,12 0,0 16,0'/%3E%3C/svg%3E") 0 0 no-repeat;  
                      /* These hacks make the select behind the arrow clickable in some browsers */
                      pointer-events:none;
                    }

                    /* This hides native dropdown button arrow in IE 10/11+ so it will have the custom appearance, IE 9 and earlier get a native select */
                    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                      .dropdown select::-ms-expand {
                        display: none;
                      }
                      /* Removes the odd blue bg color behind the text in IE 10/11 and sets the text to match the focus style text */
                      select:focus::-ms-value {
                        background: transparent;
                        color: #222;
                      }
                    }
                    /* Hover style */
                    .dropdown:hover {
                      border:1px solid #888;
                    }

                    /* Focus style */
                    select:focus {
                      outline:none;
                      box-shadow: 0 0 1px 3px rgba(180,222,250, 1);
                      background-color:transparent;
                      color: #222;
                      border:1px solid #aaa;
                    }


                    /* Firefox focus has odd artifacts around the text, this kills that */
                    select:-moz-focusring {
                      color: transparent;
                      text-shadow: 0 0 0 #000;
                    }

                    option {
                      font-weight:normal;
                    }


                    /* These are just demo button-y styles, style as you like */
                    .button {
                      border: 1px solid #bbb;
                      border-radius: .3em;
                      box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
                      background: #f3f3f3; /* Old browsers */
                      background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
                      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
                      background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
                      background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
                      background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
                      background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C */
                    }
                    .output {
                        padding-top: 50px;
                        #news-page {
                            color: #000000;
                        }
                        #recruit {
                            color: #000000;
                        }
                        #customer {
                            color: #000000;
                        }
                    }
                    .items {
                        padding: 2em;
                        color: #fff;
                        display: none;
                        .panel-body {
                            background-color: #fff;
                            width: 100%;
                        }
                    }
                    
                    button {
                        padding-top: 12px;
                        padding-bottom: 12px;
                        font-weight: 700;
                        font-size: 14px;
                        font-family: "Open Sans",Arial,sans-serif;
                        color: #fff;
                        width: 80%;
                        float: right;
                    }
                    
                }
            }
            #post-create {
                position: relative;
                padding-top: 100px;
                height: 1500px;
            }
        }
        #footer {
            background: #002E5B;
            width:100%;
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 1rem;
            color: #fff;
            .footer-wrapper {
                @extend #page-container;
                padding-top: 100px;
            }
            .copyright{
                padding-top: 17px;
                border-top: 1px solid rgba(204, 204, 204, 0.5);
            }
            p.footer-content {
                padding-top: 30px;
                font-size: 12px;
                color: #E7E7E7;
            }
            a.footer-link {
                    color: #41A9DA;
                    font-size: 12px;
            }
            p.footer-title {
                font-size: 20px;
                padding-bottom: 20px;
                border-bottom: 1px solid rgba(204, 204, 204, 0.5);
            }
            .material-icons {
                font-size: 17px;
                margin: 5px;
            }

          #logo-footer {
              width: 50%;
              height: auto;
          }
        }
    }
}
 #page-container {                   
    width: 80%;
    position: relative;
    margin: 0 auto;
    padding-bottom: 20px;
    #big-title {
        font-size: 36px;
        word-wrap: break-word;
    }
    #small-title {
        font-size: 14px;
        height: 35px;
        display: inline-block;
        padding: 0 40px;
        font-weight: 700;
        line-height: 28px;
    }
    #item-content {
        font-size: 14px;
        font-family: "Open Sans",Arial,sans-serif;
        padding-top: 10px;
        padding-bottom: 10px;
    }
 }
 @media screen and (min-width: 320px) and (max-width: 767px) {
    #header {
        .nav-header {
            .container {
                .navbar-header{
                    margin: 0 auto;
                    min-width: 100%;
                    a.navbar-brand {
                        float: left;
                        max-width: 40%;
                        height: auto;
                        #logo {
                            min-width: 80%;
                            height: auto;
                        }
                    }
                    .icon-bar {
                        background-color:#FFF !important;
                    }
                }
                .navbar-collapse li a {
                    width: 100%;
                    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
                    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
                    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
                    transition: all 0.2s ease-in-out;
                    color: #fff;
                }
                .navbar-collapse {
                    background-color: #002E5B;
                }
            }
        }
    }
    #content {
        #workplade {
            #page-container {
                .workplade-content {
                        .acc ul:hover li{
                            width: 1px;
                        }
                        .acc ul li:hover{
                            min-width:200%;
                        }
                }
            }
        }
    }
 }
 @media screen and (min-width: 768px) {
    #header {
        .nav-header {
            .container {
                .navbar-header {
                    max-width: 20%;
                    .navbar-brand {
                        #logo {
                            min-width: 80%;
                        }
                    }
                }
                .navbar-collapse {
                    min-width: 80%;
                    .navbar-right {
                        li {
                            a.about-us {
                                font-size: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
 }



 