
.entry-content {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    
}
.section-top-page {
    position: relative;
    padding: 0 0 270px;
}
.section-top-page-wrapper {
    width: 1170px;
    margin: auto;
    position: relative;
    padding-top: 300px;
}

.wrapper {
    width: 1170px;
    margin: auto;
    position: relative;
}
.blog {
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.section-second-page {
    position: relative;
    background: #fff;
    background-size: cover;
    padding: 100px 0 270px;
    text-align: center;
}
.section-page-four {
    position: relative;
    background-color: #000000;
    padding: 100px 0 270px;
    text-align: center;
}

.content-about-us {
    color: #000000;
}
.section-third-page {
    background-color: #ffffff;
    color: #000000;
    padding-bottom: 0;
    
}
p.title-products {
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    color: #0f1782;
}
p.title-about-us {
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    color: #000000;
}
.icon-mobile {
    width: 60px;
    height: 60px;
    padding: 0;
}
p.icon-mobile {
    padding: 0;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    color: #0f1782;
}
p.content-icon-mobile {
    color: #54545a;
}
.icon-mobile {
    padding: 0;
}