
.entry-content {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    
}
.section-top-page {
    position: relative;
    padding: 0 0 300px;
}
.section-top-page-wrapper {
    width: 1170px;
    margin: auto;
    position: relative;
    padding-top: 300px;
}
.wrapper-about-us {
    width: 1170px;
    margin: auto;
    position: relative;
    padding-bottom: 100px;
}
.wrapper {
    width: 1170px;
    margin: auto;
    position: relative;
}
.blog {
    color: #fff;
    text-align: center;
}

.section-second-page {
    position: relative;
    background: #fff;
    background-size: cover;
    padding-bottom: 100px;
    text-align: center;
}
.section-page-four {
    position: relative;
    padding: 0 0 170px;
    text-align: center;
}

.content-about-us {
    color: #002E5B;
}
p.title-products {
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    color: #002E5B;
}
p.title-achievement-us {
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    color: #fff;
}
p.title-about-us {
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    color: #002E5B;
}
.icon-mobile {
    width: 60px;
    height: 60px;
    padding: 0;
}
p.icon-mobile {
    padding: 0;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    color: #002E5B;
}
p.content-icon-mobile {
    color: #002E5B;
}
.icon-mobile {
    padding: 0;
}
iframe.videos {
    width: 80%;
    height: 80%;
    
}
iframe.maps {
    width: 100%;
    height: 40%;
    border: 2px;
    pointer-events: none;
}