@media screen and (max-width: 767px) {
    
    nav.header {
        width: 100%;
    }
    iframe {
        width: 80%;
        height: auto;

    }
    body {
	width: 100%;
        height: auto;
    }
    .entry-content {
        width: 100%;
        padding: 0;
    }
    .section-top-page {
        width: 100%;
    }
    .section-top-page-wrapper {
        width: 50%;
    }
    .wrapper {
        width: 100%;
    }
    .navbar-collapse li a {
        -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
        transition: all 0.2s ease-in-out;
    }
    .icon-bar {
        background-color:#FFF !important;
     }
    #logo {
        max-width: 100%;
        height: auto;
        padding-top: 10px;
        padding-left: 10px;
    }
    .navbar-header {
        max-width: 100%;
        height: auto;
    }
    .navbar-brand{
        max-width: 80%;
    }
    
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

    nav.header {
        width: 100%;
    }

    body {
	width: 100%;
        min-height: 100%;
    }
    .section-top-page {
        width: 100%;
    }
    .section-top-page-wrapper {
        width: 90%;
    }
    .wrapper {
        width: 90%;
    }
}
nav.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease-in-out;
    height: auto;
    background-color:transparent; 
}
body { 
  background: url(/images/home3.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;

}
body::before {
   content: "";
   display: block;
   position: absolute;
   z-index: -1;
   width: 100%;
   height: 100%;
   background-color: #000000;
   opacity: 0.6;
}

a.navbar-brand {
    padding: 0;
}
.dropdown-toggle {
    font-size: 1.5rem;
    color: #e0e0e0 !important;
    font-weight: bold;
}
a.about-us {
    font-size: 1.5rem;
    color: #e0e0e0 !important;
    font-weight: bold;
}
a.login {
    font-size: 1.5rem;
    color: #e0e0e0 !important;
    font-weight: bold;
}
a.register {
    font-size: 1.5rem;
    color: #e0e0e0 !important;
    font-weight: bold;
}
p.nameUser {
    font-size: 1.5rem;
    font-weight: bold;
}
#logo {
    max-width: 20%;
    height: auto;
    position: relative;
    display: inline;
}
.nav-center {
   position: absolute;
   margin-left: 47%;    
}
.scrolled {
    background: url(/images/home5.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}